---
layout: default
---

{% include hero/simple.html headline="Piráti a občané Prahy 15" description="S Vámi pro změnu a zdravý život ve městě" bgImg="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Prague_from_air_2016_Horn%C3%AD_M%C4%9Bcholupy.jpg/1920px-Prague_from_air_2016_Horn%C3%AD_M%C4%9Bcholupy.jpg" heroSpacing="py-16 lg:pt-32" %}

<div class="container container--default pt-4 lg:pb-24">
  {% include homepage/news.html title="Co se děje v Praze 15:" %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
